*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
}
.container{
    
    width: 100%;
 
}

h1{
    text-align: center;

    margin: 2rem 0;
    font-size: 12vw;
    font-weight: 900;
    background-image: url('img/heading_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 15%;
    background-clip:text;
    -webkit-background-clip: text;
    color:transparent;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0,.3);
    
}

.photo img {
  width: 100%;
  display:block;
}

.photo {
  margin: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0,.15);
}

/*v následujícím úseků si vyzkoušíš tkz. mobile-first přístup*/

/*tvým úkolem je napsat kód tak, aby:
šířka 576px - 767px: budou 2 obrázky vedle sebe
šířka 768px - 991px: budou 3 obrázky vedle sebe*
šířka 992px a víc: obrázky budou mít základní šířku 200px a v jedné řadě jich bude tolik, kolik se jich tam vejde**/

@media (min-width: 576px) {
  .photogallery {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1{
    letter-spacing: -2px;
  }
  .photo {   
    flex-basis: calc(100% /2 - 10px);
    flex-grow: 1;
  }


}

@media (min-width: 768px) {
  .photo {   
    margin:8px;
    flex-basis: calc(100% / 3 - 10px);
  }
}

@media (min-width: 992px) {
    h1{
        letter-spacing: -5px;
      }
.container{
    width: 90%;
    margin:3rem auto;
    min-height: calc(100vh - 6rem);;
}

  .photo {   
    margin:10px;
    flex-basis: calc(100% / 4);
    max-width: 250px;
  }
}

/*hint:*/
/*pokud chcete nápovědu, seskrolujte úplně dolů*/













/*nápověda:*/
/*vlastnosti, které tě zajímají:
u flex-containeru: display, flex-wrap
u flex-itemu: flex-basis*/